.user-integration {

    .title{
        padding-left: 15px;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #b2b2b2;
        .ion-ios-star-outline{
            color: #688ae2;
            margin-right: 5px;
            font-size: 25px;
            position: relative;
            top: 3px;
        }
        span{
            color: #d7330d;
            float: right;
            margin-right: 15px;
        }
    }

    .integration-list{
        position: absolute;
        top: 70px;
        bottom: 50px;
        left: 15px;
        right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        color: #ff7a11;
        h4{
            color: #ff7a11;
        }
        


    }

    .footer{
        .tab-item{
            max-width: 50%;
            width: 50%;

        }
        .enroll-tab{
            border-right: 1px solid #fff;
        }
        
        .tabs{
           background-color: #ff7a11;
           color: #fff; 
        }
    }

}