.game-detail {
	.game-img{
		width: 100%;
		height: 150px;
	}
	.text-process{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		position: absolute;
		top: 150px;
		bottom: 50px;
		left: 0;
		right: 0;
		overflow-y: auto; 
		overflow-x:hidden;
		webkit-overflow-scrolling: touch;
		.orange{
			color: #ff7a11;
		}
		.game-text{
			padding-top: 5px;
			border-top: 1px solid #b2b2b2;
			border-bottom: 1px solid #b2b2b2;
		}

		.game-process{
			margin-top: 10px;
		}

	}

	.tabs{
		color: #fff;
		cursor: pointer;
		background-color: #ff7a11;
	}
	
	.button.icon-right:before{
		font-size: 15px;
	}

    .button.button-calm{
    	background-color: #ff7a11;
    	color: #fff;
    }
}