.user-bind-phone {

	.list{
        .item{
            margin-bottom: 15px;
        }
        .code{
            float: left;
            width: 70%;
        }
        .button-small{
            height: 47px;
            width: 30%;
            background-color: #ff7a11;
            color: #fff;
            border-radius: 0;
            position: relative;
            top: -1px; 
        }
    }
    
    .tabs{
        .button-block{
            margin-top: 0;
            margin-bottom: 0;
            background-color: #ff7a11;
        }
    }

}