.user-safe {

	.list{
		margin-bottom: 0px;
	}

    .item-avatar > img:first-child{
    	max-width: 70px;
    	max-height: 70px;
    }

    a.item.item-avatar{
    	padding-left: 110px;
    	min-height: 110px;
    }

    .enroll-list{
    	border-top: 15px solid #ddd;
    }

    .footer{
        .tab-item{
            max-width: 50%;
            width: 50%;

        }
        .enroll-tab{
            border-right: 1px solid #fff;
        }
        
        .tabs{
           background-color: #ff7a11;
           color: #fff; 
        }
    }

}