<div class="process-detail" ng-controller="App.ProcessDetail.Controller">
	<h3 class="title"><i class="icon ion-bookmark"></i><span class="orange title-text">全程马拉松</span></h3>
	<div class="text-process">
		<h3 class="orange">赛程介绍：</h3>
		<div class="game-process" ng-repeat="event in event_list">
			<h5 class="orange">{{event.name}}</h5>
			<p><span class="orange">报名时间：</span>{{event.reg_start_time}} -- {{event.reg_end_time}}</p>
			<p><span class="orange">起跑时间：</span>{{event.run_time}}</p>
			<p><span class="orange">报名费用：</span>{{event.fee}}元/人</p>
			<p><span class="orange">关门时限：</span>{{event.close_at}}小时</p>
			<p>
				<span class="orange">报名资格：</span>
				<span>{{event.condition}}</span>
			</p>

			<div class="map">
				<span class="orange">路线图：</span>
				<img src="img/gamedetail.png">
			</div>
		</div>
	</div>
	<div class="tabs">
		<button class="button button-block button-positive" ng-click="goEnroll()">报名</button>
	</div>
</div>