.process-detail {
	.orange{
		color: #ff7a11;
	}
	.ioc-blank{
		width: 5px;
		background-color: #000000;
	}
	.title{
		padding:10px 15px;
		border-bottom: 1px solid #b2b2b2;
		.title-text{
			margin-left: 10px;
		}
	}
	.way{
		display: inline-block;
		.way-title{
			float: left;
		}
		.line{
			float: left;
		}
	}
	.text-process{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		position: absolute;
		top: 50px;
		bottom: 50px;
		left: 0;
		right: 0;
		overflow-y: auto;
		overflow-x: hidden;
		webkit-overflow-scrolling: touch;
		.game-text{
			padding-top: 5px;
			border-top: 1px solid #b2b2b2;
			border-bottom: 1px solid #b2b2b2;
		}

		.game-process{
			margin-top: 10px;
		}

		.map{
			img{
				width: 90%;
			}
		}

	}

	.tabs{
		background-size: 100% 0;
        .button-block{
        	border-radius: 0;
        	border: none;
            margin-top: 0;
            margin-bottom: 0;
            background-color: #ff7a11;
        }
    }
}