.game-package{
	.header{
		border-bottom: 1px solid #b2b2b2;
		text-align: center;
		font-size: 16px;
		line-height: 50px;
    	height: 70px;
	}
	
	.data{
		text-align: center;
		margin-top: 0;
		border-bottom: 1px solid #b2b2b2;
		.col{
			line-height: 47px;
		}
		.button-small{
			margin-top: 10px;
            background-color: #ff7a11;
            color: #fff;
            border-radius: 0;
            width: 75px;
        }
	}
	
	.scroll-content{
		position: relative;
	}
	
	.item-checkbox{
		padding-top: 30px;
		border: none;
	}

	.checkbox input, .checkbox-icon{
		left: 30px;
	}

	.checkbox-icon:before{
		border-radius: 0;
		border-color: #ff7a11;
	}
	
	.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
		background: #ff7a11;
    	border-color: #ff7a11;
	}

	.tabs{
        .button-block{
            margin-top: 0;
            margin-bottom: 0;
            background-color: #ff7a11;
        }
    }  
}