.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fd6c7f;
  z-index: 99999;
  text-align: center;
  color: #fff; }
  .loading .loading-con {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%; }
  .loading .spinner {
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: 0 auto 20px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.header .slider {
  height: 100%; }

.header .slider-slide img {
  width: 100%; }

.footer .activat {
  box-shadow: none;
  border-color: #d1d3d6;
  color: #007aff;
  background: #e4e5e7; }

.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 50px;
  overflow: auto; }

.carousel {
  width: 100%;
  height: 200px; }
  .carousel .slider {
    height: 100%; }
  .carousel .slider-slide img {
    width: 100%;
    height: 100%; }

.game-list.list {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  bottom: 50px;
  overflow-y: auto;
  overflow-x: hidden; }

.game-list .search {
  width: 100%;
  height: 45px; }
  .game-list .search .item-select {
    float: left;
    height: 50px;
    width: 30%;
    border: none; }
    .game-list .search .item-select select {
      width: 100%;
      max-width: 100%; }

.game-list .button.button-assertive {
  background-color: #ff7a11; }

.game-list .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.game-list .footer .game-tab {
  border-right: 1px solid #fff; }

.game-list .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.game-detail .game-img {
  width: 100%;
  height: 150px; }

.game-detail .text-process {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto; }
  .game-detail .text-process .orange {
    color: #ff7a11; }
  .game-detail .text-process .game-text {
    padding-top: 5px;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2; }
  .game-detail .text-process .game-process {
    margin-top: 10px; }

.game-detail .tabs {
  cursor: pointer;
  background-color: #fff; }

.game-detail .button.icon-right:before {
  font-size: 15px; }

.game-detail .button.button-calm {
  background-color: #fff;
  color: #ff7a11; }

.process-detail .orange {
  color: #ff7a11; }

.process-detail .ioc-blank {
  width: 5px;
  background-color: #000000; }

.process-detail .title {
  padding: 10px 15px;
  border-bottom: 1px solid #b2b2b2; }
  .process-detail .title .title-text {
    margin-left: 10px; }

.process-detail .way {
  display: inline-block; }
  .process-detail .way .way-title {
    float: left; }
  .process-detail .way .line {
    float: left; }

.process-detail .text-process {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto; }
  .process-detail .text-process .game-text {
    padding-top: 5px;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2; }
  .process-detail .text-process .game-process {
    margin-top: 10px; }

.process-detail .tabs .button-block {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ff7a11; }

.enroll .header {
  border-bottom: 1px solid #b2b2b2;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  height: 70px; }

.enroll .data {
  text-align: center;
  margin-top: 0;
  border-bottom: 1px solid #b2b2b2; }
  .enroll .data .col {
    line-height: 47px; }
  .enroll .data .button-small {
    margin-top: 10px;
    background-color: #ff7a11;
    color: #fff;
    border-radius: 0;
    width: 75px; }

.enroll .scroll-content {
  position: relative; }

.enroll .tuanti {
  margin-top: 10px;
  padding-left: 10px; }
  .enroll .tuanti a {
    color: #ff7a11; }

.game-package .header {
  border-bottom: 1px solid #b2b2b2;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  height: 70px; }

.game-package .data {
  text-align: center;
  margin-top: 0;
  border-bottom: 1px solid #b2b2b2; }
  .game-package .data .col {
    line-height: 47px; }
  .game-package .data .button-small {
    margin-top: 10px;
    background-color: #ff7a11;
    color: #fff;
    border-radius: 0;
    width: 75px; }

.game-package .scroll-content {
  position: relative; }

.game-package .checkbox {
  background-color: #ff7a11; }

.game-package .tabs .button-block {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ff7a11; }

.user .list {
  margin-bottom: 0px; }

.user .item-avatar > img:first-child {
  max-width: 70px;
  max-height: 70px; }

.user a.item.item-avatar {
  padding-left: 110px;
  min-height: 110px; }

.user .me .item-avatar {
  border-top-width: 15px;
  border-bottom-width: 15px; }

.user .me h2 {
  padding-top: 20px; }

.user .me p {
  padding-top: 10px; }

.user .enroll-list {
  border-top: 15px solid #ddd;
  border-bottom: 15px solid #ddd; }

.user .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.user .footer .enroll-tab {
  border-right: 1px solid #fff; }

.user .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-me .list {
  margin-bottom: 0px; }

.user-me .item-avatar > img:first-child {
  max-width: 70px;
  max-height: 70px; }

.user-me a.item.item-avatar {
  padding-left: 110px;
  min-height: 110px; }

.user-me .me .item-avatar {
  border-top-width: 15px;
  border-bottom-width: 15px; }

.user-me .me .button {
  margin-top: 10px;
  width: 100px;
  background-color: #ff7a11; }

.user-me .me p {
  padding-top: 10px; }

.user-me .enroll-list {
  border-top: 15px solid #ddd;
  border-bottom: 15px solid #ddd; }

.user-me .footer .tab-item {
  max-width: 100%;
  width: 100%; }

.user-me .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-me .footer a {
  font-size: 20px; }

.user-action .title {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .user-action .title .ion-card {
    color: #7bd474;
    margin-right: 5px;
    font-size: 25px;
    position: relative;
    top: 3px; }

.user-action .action-list {
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden; }
  .user-action .action-list .button.button-assertive {
    width: 100px;
    float: right;
    background-color: #e93a3a; }

.user-action .item-avatar > img:first-child {
  max-width: 70px;
  max-height: 70px; }

.user-action a.item.item-avatar {
  padding-left: 110px;
  min-height: 110px; }

.user-action .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.user-action .footer .enroll-tab {
  border-right: 1px solid #fff; }

.user-action .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-enroll .title {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .user-enroll .title .ion-ios-paper-outline {
    color: #688ae2;
    margin-right: 5px;
    font-size: 25px;
    position: relative;
    top: 3px; }
  .user-enroll .title span {
    color: #d7330d;
    float: right;
    margin-right: 15px; }

.user-enroll .enroll-list {
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden; }
  .user-enroll .enroll-list .button.button-assertive {
    width: 100px;
    float: right;
    background-color: #e93a3a;
    margin-left: 10px; }

.user-enroll .item-avatar > img:first-child {
  max-width: 70px;
  max-height: 70px; }

.user-enroll a.item.item-avatar {
  padding-left: 110px;
  min-height: 110px; }

.user-enroll .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.user-enroll .footer .enroll-tab {
  border-right: 1px solid #fff; }

.user-enroll .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-integration .title {
  padding-left: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b2b2b2; }
  .user-integration .title .ion-ios-star-outline {
    color: #688ae2;
    margin-right: 5px;
    font-size: 25px;
    position: relative;
    top: 3px; }
  .user-integration .title span {
    color: #d7330d;
    float: right;
    margin-right: 15px; }

.user-integration .integration-list {
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 15px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #ff7a11; }
  .user-integration .integration-list h4 {
    color: #ff7a11; }

.user-integration .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.user-integration .footer .enroll-tab {
  border-right: 1px solid #fff; }

.user-integration .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-safe .list {
  margin-bottom: 0px; }

.user-safe .item-avatar > img:first-child {
  max-width: 70px;
  max-height: 70px; }

.user-safe a.item.item-avatar {
  padding-left: 110px;
  min-height: 110px; }

.user-safe .enroll-list {
  border-top: 15px solid #ddd; }

.user-safe .footer .tab-item {
  max-width: 50%;
  width: 50%; }

.user-safe .footer .enroll-tab {
  border-right: 1px solid #fff; }

.user-safe .footer .tabs {
  background-color: #ff7a11;
  color: #fff; }

.user-bind-phone .list .item {
  margin-bottom: 15px; }

.user-bind-phone .list .code {
  float: left;
  width: 70%; }

.user-bind-phone .list .button-small {
  height: 47px;
  width: 30%;
  background-color: #ff7a11;
  color: #fff;
  border-radius: 0;
  position: relative;
  top: -1px; }

.user-bind-phone .tabs .button-block {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ff7a11; }
